@import url(https://fonts.googleapis.com/css?family=Cousine);

body	{
	background-color: white;
	margin-top:0;
	margin-left:0;
  padding-top:0;
}


html {
	margin-top:0;
	margin-left:0;
  padding-top:0;
	overflow-x: hidden;
}

h1	{
	font-family: 'Cousine', monospace;
	font-weight: normal;
	font-size: 27px;
	color: black;
	padding: 20px 35px 0px;
	margin: 0;
}


h1:hover{
	color: cornflowerblue;
	text-decoration: none;
  	webkit-transition: color 500ms;
   	moz-transition:    color 500ms;
   	ms-transition:     color 500ms;
  	o-transition:      color 500ms;
  	transition:        color 500ms;
}


h2	{
	font-family: Courier New, 'Cousine', monospace;
	font-weight: normal;
	font-size: 16px;
	color: black;
	padding: 0px 35px 5px;
	margin: 0;
}


h3	{
	font-family: 'Cousine', monospace;
	font-size: 15px;
	font-weight: lighter;
	text-decoration: none;
	line-height: 24px;
	color: #2e302f;	
	padding: 0px;
	margin: 0;
}

h4	{
	font-family: Courier New, 'Cousine', monospace;
	font-weight: normal;
	font-size: 16px;
	color: white;
	padding: 10 0 10 0;
	margin: 0;
}


h5	{
	font-family: monospace;
	font-size: 11px;
	font-weight: lighter;
	text-decoration: none;
	line-height: 15px;
	color: black;	
	padding: 0px;
	margin-top: 15px;

}


p	{
	font-family: monospace;
	font-size: 15px;
	font-weight: lighter;
	line-height: 15px;
	color: #2e302f;	
	padding: 0px;
	margin: 0;
}

.divider {
	margin-left:10px;
	margin-right:10px;
}


div	{
	padding: 10px 35px 10px;
	overflow-x: hidden;
	overflow-y: auto;
}

.overlay {
	position: fixed;
	width: 100vw;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	background-color: white;
	top: auto;
	box-shadow: 0px 5px 15px #ffffff;
}

.spacer {
	width: auto;
	height: 80px;
	overflow-y: auto;
	overflow-x: hidden;
}

a	{
		color: white;
	background-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
	webkit-transition: color 500ms;
   	moz-transition:    color 500ms;
   	ms-transition:     color 500ms;
  	o-transition:      color 500ms;
  	transition:        color 500ms;
}


a:link, a:visited {
	color: white;
	background-color: black;
	text-decoration: none;
  	webkit-transition: color 500ms;
   	moz-transition:    color 500ms;
   	ms-transition:     color 500ms;
  	o-transition:      color 500ms;
  	transition:        color 500ms;
}


a:hover, a:active {
	color: coral;
	background-color: white;
}

.b {
  margin-right: 0.1em;
	padding-right: 0.3em;
	text-decoration: none;
}

.c {
	background-color: white;
	color: black;
	padding-top: 0;
	padding-bottom: 0;
}

ul	{
	text-decoration: none;
	
	
}


ul.a	{
	font-family: 'Cousine', monospace;
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 18px;
	display: inline-flex;
}	


li	{
	font-family: monospace;
	text-decoration: underline;
	list-style-type: square;
	line-height: 18px;
	padding-top: 2px;
	padding-bottom: 2px;
	
}


li.a	{
	display: block;
	align-items: flex-end;
	float: left;
	margin-right: 0.1em;
	padding-right: 0.3em;
	padding-bottom: 5px;
	text-decoration: none;
	text-align: center
	
}

nav {
	width: auto;
	display: flex;
	overflow-x: auto;
	padding-left: 10px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
	overflow-x: hidden;
	height: auto;
  padding: 0;
  margin: 0;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

.close {
  color: red;
  float: right;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
	text-align: center;
	line-height: 50%;
  right: 1vw;
	top: 1vh;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: black;
  color: white;
	width: auto;
	height: 30px;
}

.modal-body {padding: 2px 16px;
	width: auto;
	height: 50px;
}


.modal-footer {
  padding: 2px 16px;
  background-color: coral;
  color: white;
	width: auto;
	height: 30px;
}

@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 0px;
  width: auto;
  border: none;
  text-align: left;
  outline: none;
  
}

.active, .collapsible:hover {
  color: cornflowerblue;
}

.content {
  font-family: monospace;
  padding: 0px 85px 0px;
  max-height: 0;
  max-width: auto;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f2f2f2;
  color: black;
  margin-left: -87px;
  -webkit-box-shadow: inset  0px 8px 8px -10px #d9d9d9;
    -moz-box-shadow:    inset  0px 8px 8px -10px #d9d9d9; 
    box-shadow:         inset  0px 8px 8px -10px #d9d9d9;
  
}

.work {
	margin-left: 0;
	padding-left: 0;
}


