 @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  
  body {
    width: 100%;
  }
  
  :root {
    --main-color: darkslategray;
    --secondary-color: orange;
    --tertiary-color: darkgray;
    --quaternary-color: midnightblue;
  }

  #index {
	opacity: 0;
	animation: fade 4s;
	animation-fill-mode:forwards;
  }
 
  /* General Elements */
  img, video {
    object-fit: contain;
    display: block;
  }

  #splash {
    position: fixed;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  article {
    position: relative;
    height: auto;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Inter";
    margin: 0;
  }
  
  h1 {
    font-family: "Inter", Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2;
    color: var(--tertiary-color);
  }
  
  h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 20px;
    line-height: 3rem;
    padding-bottom: 5px;
    color: var(--tertiary-color);
  }
  
  h3 {
    font-family: "Archivo";
    font-size: 1rem;
    font-weight: lighter;
    line-height: 24px;
    color: var(--tertiary-color);
  }

  h4 {
    font-family: "Archivo";
    font-size: 1rem;
    font-weight: lighter;
    line-height: 24px;
    color: var(--quaternary-color);
  }
  
  p {
    font-family: "Archivo", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8;
    color: var(--main-color);
    margin-bottom: 1rem;
    text-align: justify;
  }
  
  p.box {
    max-width: 70%;
  }
  
  /* Links */
  a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 500ms;
    padding: 0 5px;
  }
  
  a:hover {
    color: white;
    background-image: url(images/noise.gif);
    background-size: 100%;
  }
  
  a.home {
    color: var(--main-color);
    display: flex;
  }
  
  a.home:hover {
    color: black;
    background-image: none;
  }

  #top {
  }

  .top {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  /* Navigation */
  nav {
    width: 100%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-left: 1rem;
    position: relative;
  }
  
  ul.nav {
    font-family: "Inter", monospace;
    font-weight: 500;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin: 0;
    content: 'p';
  }
  
  li.nav {
    flex: 1;
    line-height: 4rem;
    text-align: left;
    color: var(--main-color);
  }
  
  /* Containers */
  div {
	  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    overflow-x: hidden;
    overflow-y: auto;
	  animation: fade 3s;
  }
  
  div.row, div.rev {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    column-gap: 2rem;
	  row-gap: 2rem;
    padding: 0rem 1rem;
    align-items: baseline;
  }

  div.rev {
    justify-content: flex-end;
  }
  
  div.center {
    align-items: center;
    justify-content: center;
    flex-direction: column;
	  column-gap: 2rem;
    overflow: hidden;
  }
  
  div.left, div.right, div.info {
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    padding: 10px 0;
    transition: all 1s ease;
  }
  
  div.right {
    max-width: 20rem;
  }

  div.info {
    text-align: right;
  }
  
  div.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2rem;
    margin-bottom: 0;
    width: 50%;
    background-color: antiquewhite;
  }

  div.space {
    min-height: 500px;
    height: auto;
    width: 100%; /* <-- Changed to 100% */
    padding: 0rem 1rem;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
    row-gap: 2rem;
    flex-wrap: nowrap;
  }

  div.overlay {
    position: absolute;
    color: var(--primary-color);
    font-family: "Inter", Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2;
  }

  div.splash {
    color: var(--primary-color);
    font-family: "Inter", Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 92vh;
    animation: fade 30s;
  }

  div.column {
    margin: 0 2rem;
    display: grid;
    grid-template-areas: "a a a";
    gap: 2rem;
  }

  div.expand {
    height: 50vh;
  }

  p.column {
    min-width: 80px;
  }

  #pooloop {
    transform:rotate(180deg);
  }

img.laurel {
    margin: 5rem 0;
  }
  
  /* Media Queries */
  @media (max-width: 1000px) {
    div.row {
      column-gap: 2rem;
    }
    div.left, div.right {
      width: 50%;
    }
    div.space {
      min-height: 250px;
    }
    div.expand {
      height: 10vh;
    }
  }
  
  @media (max-width: 715px) {
    nav {
      padding: 0;
    }
    div, div.row, div.rev {
      
      padding: 0;
      margin: 0;
      row-gap: 0;
      flex-wrap: wrap;
    }
    div.left, div.right, div.info, div.box {
      width: 100%;
      max-width: 100%;
      padding-top: 1rem;
    }
    div.info {
      text-align: center;
    }
    div.space {
      max-height: 100%;
    }
    div.splash {
      height: 65vh;
    }
    div.overlay {
      font-size: 1.5rem;
    }
    div.expand {
      height: 0vh;
    }
    ul.nav {
      font-size: 3vh;
      flex-wrap: wrap;
      flex-direction: column;
      
    }
    p, p.box {
      text-align: center;
      max-width: 100%;
      margin: 1rem;
    }
    h1 {
      font-size: 1.5rem;
    }
  }
  
  /* Animations */
  @keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  